/* Reset */
:root {
  --warna-text-light:#e3e3e3;
  --bg: #1b1b1b;
  --warna-text-dark:#1b1b1b;
  --aksen: #2d7aff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif; /* Font yang bersih dan mudah dibaca */
  background-color: var(--bg);
  line-height: 1.6;
  margin: 0;
}


/* Navbar wrapper dengan lebar 80% */
.navbar {
  list-style: none;
  display: flex;
  padding: 20px 7% 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  right: 0;
  left: 0;

}

.logo {
  font-size: 1.5rem;
  color: var(--warna-text-light, #eee);
  margin: 0;
}

.nav-links {
  list-style: none;
display: flex;
gap: 2px;
padding: 0; /* biasanya untuk hilangkan padding default ul */
margin: 0; 
}



.nav-links li a {
  position: relative;
  display: inline-block;
  padding: 2px 8px;
  color: var(--warna-text-light);
  z-index: 0;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  top: 0; bottom: 0; right: 0;
  width: 0;
  background-color: var(--aksen);
  z-index: -1;
  transition: width ease 0.3s;
}

.nav-links li a:hover::before {
  width: 100%;
  left: 0;
  right: auto;

}

.nav-links li a:hover {
  color: #fff;
}


html {
  scroll-behavior: smooth;
}

/* container global */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 120px 0;
}

/* Hero Section */
.home-wrapper,.portofolio-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.home-wrapper .content , .portofolio-wrapper .content {
  flex:  1 1 450px;
}

.home-wrapper , .image-wrapper {
  flex: 1 1 450px;
}

.home-wrapper img {
  width: 100%;
  max-width: 500px;
  border-radius: 25px;
  box-shadow: 1px 1px 15px rgba(45, 122, 255, 0.6);
  object-fit: cover;
  height: 600px;
}

#home h2 {
  color: var(--warna-text-light);
  font-size: 74px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-shadow: 1px 2px 5px rgba(255 255 255 / 0.8);
  text-align: left;
  line-height: 1.1;
}

#home h3 {
  font-size: 24px;
  color: var(--warna-text-light);
  font-weight: 600;
  letter-spacing: -2px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 15px;
}

#home h3 span {
  color: var(--aksen);
  font-weight: 200;
}

#home p {
  color: var(--warna-text-light);
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
  text-align: left;
}



.cta-btn {
  background: #2d7aff83; 
  color: #ffffffd5;
  font-size: 1.2rem;
  padding: 2px;
  border-radius: 30px;
  text-transform: capitalize;
  font-weight: 600;
  transition: 0.3s ease, transform 0.3s ease;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 210px;
}

.cta-btn:hover {
  background: #2d7affd4;  /* Warna kuning yang lebih gelap */
  transform: scale(1); /* Efek hover sedikit membesar */
  color: #ffffffe9;
  box-shadow: 1px 1px 5px #2d7affd2;
}

/* Portfolio Section */
/* Video Gallery Section */
#video-gallery {
  padding: 80px 0;
  text-align: center;
  background-color: var(--bg);
  
}

#video-gallery h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: var(--warna-text-light);
}

#video-gallery p {
  font-size: 18px;
  margin-bottom: 30px;
  color: var(--warna-text-light);
  text-align: left;
  padding: 0 7%;
  font-weight: 100;
  line-height: 1.1;
  word-spacing: 2px;
  
}

.video-thumbnails {
  margin-top: 1rem;
  padding: 0rem 7%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /*pelajari*/
  gap: 30px;
}

.video-item {
  position: relative;
  align-content: center;
}

.video-item p {
  font-size: 16px;
}

.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 1px 1px 5px 1px #1563ff5a;
}

.thumbnail:hover {
  transform: scale(1.05); /* Efek zoom pada thumbnail */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Efek bayangan */
  box-shadow: 1px 1px 5px 1px #1563ff;
}

.more-btn {
  display: flex;
  background-color: #01b23c00;
  align-items: center;
  justify-content: center;
}

.more-btn a {
  color: #ffffffbe;
  background-color: #2d7aff83;
  padding: 8px 10px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  transition: all ease 0.3s;
}

.more-btn a:hover {
  background-color: #2d7aff;
  color: #fff;
  transform: scale(1.05);
}

/* Video Modal */
.video-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(152, 171, 225, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  background: #000000;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

#video-player {
  width: 100%;
  border-radius: 10px;
  height: auto;
  max-width: 100%;
  max-height: 80vh;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ffffff;
  color: rgb(12, 8, 140);
  border: none;
  font-size: 1.5rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  transform: scale(1);
  transition: all ease 0.3s;
}

.close-btn:hover {
  background: #2a78ff;
  transform: scale(1.1);
  transition: all ease 0.3s;
}

/* About Section */
#about .content {
  padding: 80px 40px;
  background-color: #ffffff9d;
  text-align: left;
  border-radius: 25px;
  color: #fff;
  border: solid 1px #fff;
  box-shadow: 2px 2px 5px #fff;
}

#about h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: var(--aksen);
  opacity: 0.8;

}

#about h3 {
  color: var(--aksen);
  opacity: 0.8;
}

#about p {
  font-size: 1.1rem;
  line-height: 1.8;
  max-width: 900px;
  text-align: left;
  margin-bottom: 10px;
}

#about ul {
  list-style-type: none;
  margin-top: 16px;
}

#about ul li {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

/* Contact Form */
#contact {
  background-color: var(--bg);  /* Warna hijau Tokopedia */
  color: white;
  padding: 80px 0;
  text-align: left;
}

#contact h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

form label {
  margin-top: 10px;
  font-size: 1.1em;
}

form input, form textarea {
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

form button {
  padding: 15px;
  background: #2a78ffc9;
  color: rgba(255, 255, 255, 0.787);
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease;
}

form button:hover {
  background: #2a78ff;  /* Warna kuning yang lebih gelap */
}

/* footer */

#footer {
  background-color: var(--bg);
  color: var(--warna-text-light);
  text-align: center;
  padding: 30px 20px;
  font-size: 14px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

#footer a {
  color: var(--warna-text-light);
  text-decoration: none;
  margin: 0 8px;
}

#footer a:hover {
  text-decoration: underline;
}